<div class="register-box">
    <div class="register-logo">
        <a href="#/Login"><b></b></a>
    </div>
    <div class="register-box-body">
        <p class="login-box-msg">Por favor ingresar su email donse tendra las instrucciones para realizar el proceso de recuperacion de su Contraseña.</p>
        <form name="myForm">
            <div class="form-group has-feedback" ng-class="(myForm.ds_email.$dirty || !isValid) && !myForm.ds_email.$valid?'has-error' : ''">
                <input type="email" class="form-control   input-lg" id="ds_email" name="ds_email" ng-model="item.ds_email" placeholder="Email" required>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-8">
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary  btn-block btn-flat   input-lg" ng-click="RecoveryPassword()">Enviar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <a href="#/Login" class="text-center">Login</a><br />
        <a href="#/Signup" class="text-center">Registarse.</a>
    </div>
    <!-- /.form-box -->
</div>
